@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
html {
    scroll-behavior: smooth;
}
/* Reset start */
body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}
/* Reset end */

/* Header style start */
header {
    padding-inline: 2rem;
    background-color: #6096b4;
    position: fixed;
    border-bottom: 1px solid #93bfcf;
    top: 0;
    left: 0;
    right: 0;
}
header .header-wrapper {
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}

header .header-wrapper .logo {
    padding: 1rem 0;
}
header .header-wrapper .logo a {
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 700;
}

header .header-wrapper .hamburger {
    cursor: pointer;
    padding-block: 0.5rem;
}

header .header-wrapper .hamburger span {
    transition: 0.3s;
    display: block;
    margin-bottom: 8px;
    height: 2px;
    width: 30px;
    background-color: white;
}

/* Animasi hamburger klik start */
/* transform origin biaar mulus dia transform nya */
header .header-wrapper .hamburger span:nth-child(1) {
    transform-origin: top left;
}

header .header-wrapper .hamburger span:nth-child(2) {
    transform-origin: center;
}
header .header-wrapper .hamburger span:nth-child(3) {
    transform-origin: bottom left;
}
.hamburger-active > span:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger-active > span:nth-child(2) {
    transform: scale(0);
}
.hamburger-active > span:nth-child(3) {
    transform: rotate(-45deg);
}

header .header-wrapper .hamburger-active ~ ul {
    transform: scale(1);
}
/* Animasi hamburger klik end */

header .header-wrapper .hamburger span:last-child {
    margin-bottom: 0;
}

header .header-wrapper nav ul {
    transform: scale(0);
    transform-origin: top right;
    position: absolute;
    background-color: #93bfcf;
    top: 40px;
    right: 30px;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    transition: 0.3s;
}

header .header-wrapper nav ul li {
    list-style: none;
    margin-bottom: 5px;
    width: 10rem;
}

header .header-wrapper nav ul li a {
    text-decoration: none;
    padding-block: 0.7rem;
    width: 100%;
    display: inline-block;
    color: white;
}
header .header-wrapper nav ul li a:hover {
    color: #053b50;
}
/* Header style end */

/* main style start */
main {
    margin-top: 20px;
    padding-inline: 1rem;
    padding-block: 3rem;
}

main .main-wrapper {
    max-width: 640px;
    margin-inline: auto;
    text-align: center;
}

main .main-wrapper .content .image {
    width: 100%;
}

main .main-wrapper .content .image img {
    border-radius: 20px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);

    width: 300px;
}
main .main-wrapper .content aside h1 {
    font-weight: 700;
}

main .main-wrapper .content aside a {
    color: white;
    font-size: 0.9em;
    background-color: #6096b4;
    padding: 0.6rem 0.5rem;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

main .main-wrapper .content aside a:hover {
    opacity: 0.7;
    box-shadow: none;
}

/* main style end */

/* About style start */
section#about {
    background-color: #6096b4;
    padding: 1rem 1rem;
}

section#about .wrapper {
    max-width: 640px;
    margin-inline: auto;
}

section#about .wrapper .about-text h2 {
    text-align: center;
    color: white;
}

section#about .wrapper .about-detail p {
    text-align: center;
    font-weight: 300;
    color: white;
}

section#about .wrapper .about-detail .social-media {
    margin-top: 30px;
}

section#about .wrapper .about-detail .social-media ul {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

section#about .wrapper .about-detail .social-media ul li {
    list-style-type: none;
}

section#about .wrapper .about-detail .social-media ul li a {
    color: white;
    font-size: 1.2rem;
}

section#about .wrapper .about-detail .social-media ul li a:hover {
    opacity: 0.7;
}
/* About style end */

/* Service style start */
section#service {
    padding: 1rem 1rem;
}

section#service .wrapper {
    max-width: 640px;
    margin-inline: auto;
}

section#service .wrapper .service-title {
    text-align: center;
    padding-block: 1rem;
}

section#service .wrapper .card-container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

section#service .wrapper .card-container .card {
    max-width: 640px;
    border-radius: 10px;
    padding: 1rem 1rem;
    background-color: cyan;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}
section#service .wrapper .card-container .card h3 {
    margin: 0;
    padding: 0;
}

section#service .wrapper .card-container .card a {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    background-color: #6096b4;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

section#service .wrapper .card-container .card a:hover {
    opacity: 0.7;
}
/* Service style end */

/* Responsive start */
@media screen and (min-width: 1024px) {
    /* Header style start */
    header .header-wrapper {
        max-width: 1280px;
    }
    header .header-wrapper .logo a {
        font-size: 1.5rem;
    }
    header .header-wrapper .logo {
        font-size: 1.5rem;
    }
    header .header-wrapper .hamburger {
        display: none;
    }
    header .header-wrapper nav ul {
        background-color: transparent;
        transform: scale(1);
        position: static;
        padding: 0 3rem 0 0;
        display: flex;
        gap: 3rem;
    }

    header .header-wrapper nav ul li {
        width: auto;
    }
    /* Header style end */

    /* Main style start */
    main .main-wrapper {
        max-width: 1280px;
        padding: 2rem 0;
    }
    main .main-wrapper .content {
        display: flex;
    }

    main .main-wrapper .content .image {
        width: 50%;
    }

    main .main-wrapper .content aside {
        width: 50%;
        text-align: left;
    }
    main .main-wrapper .content aside h1 {
        font-size: 2.5rem;
    }
    main .main-wrapper .content aside p {
        font-size: 1.2rem;
    }
    main .main-wrapper .content aside a {
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
    }
    /* Main style end */

    /* About style start */
    section#about .wrapper {
        max-width: 1280px;
        display: flex;
        align-items: center;
    }

    section#about .wrapper .about-text {
        align-self: flex-start;
        width: 50%;
    }
    section#about .wrapper .about-text h2 {
        font-size: 1.6rem;
    }

    section#about .wrapper .about-detail {
        width: 50%;
    }

    section#about .wrapper .about-detail p {
        text-align: left;
        font-size: 1.1rem;
    }

    section#about .wrapper .about-detail .social-media ul {
        justify-content: left;
        gap: 1rem;
    }
    /* About style end */

    /* Service style start */
    section#service .wrapper {
        max-width: 1280px;
    }
    section#service .wrapper .card-container {
        width: 100%;
    }
    section#service .wrapper .card-container .card {
        width: 25%;
        height: 100%;
    }
    /* Service style end */
}
/* Responsive end */
